/*****
Theme Name: MH Impact
Theme URI: http://www.mhthemes.com/themes/mh/impact/
Author: MH Themes
Author URI: http://www.mhthemes.com/
Description: MH Impact is a flexible business WordPress theme in modern flat design. This fully responsive WordPress template is ideal for all kind of fresh and attractive business websites and fits perfectly for small and large companies or organizations. The theme is suitable for all sorts of business like trade firms, IT companies, the service sector, driving schools or other education business and anything else you can imagine.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: mh-impact
Domain Path: /languages/
Tags: two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, theme-options, threaded-comments, full-width-template, translation-ready, rtl-language-support
*****/

/***** CSS Reset based on the work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/ v2.0 *****/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/***** Animation *****/

h1, h2, h3, h4, h5, h6, .main-nav li, .main-nav li:hover, .main-nav .sub-menu li a, .social-nav li a, .pagination .page-numbers, .pagination a .pagelink, .widget-wrap, .widget-list li, .cat-item, .page_item, .sb-widget .menu-item, .footer-widgets .menu-item, .footer-widget li, .pages-widget-title a, .pages-widget-thumb img, .buttons-widget-icon, .pricing-table, .map-widget .gmap-embed, .flex-viewport { -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }

/***** Google Fonts *****/

h1, h2, h3, h4, h5, h6, .pricing-table-price { font-family: 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif; }

/***** Structure *****/

html { font-size: 100%; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; }
body { font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px;	font-size: 1.0rem; line-height: 1.6; word-wrap: break-word; background: #55b2a2; }
body.custom-background { -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#mh-wrapper { margin: 40px 0; overflow: hidden; }
.mh-content-wrap { padding: 3.5%; background: #fff; overflow: hidden; }
#main-content { width: 65.66%; }
.mh-content { overflow: hidden; }
.mh-sidebar { float: left; width: 31.33%; overflow: hidden; }
.mh-right-sb #main-content { float: left; margin-right: 3%; }
.mh-left-sb #main-content { float: right; margin-left: 3%; }
.mh-container { width: 100%; max-width: 1120px; margin: 0 auto; }

/***** Typography *****/

h1 { font-size: 36px; font-size: 2.25rem; }
h2 { font-size: 28px; font-size: 1.75rem; }
h3 { font-size: 24px; font-size: 1.5rem; }
h4 { font-size: 20px; font-size: 1.25rem; }
h5 { font-size: 16px; font-size: 1.0rem; }
h6 { font-size: 14px; font-size: 0.875rem; }
h1, h2, h3, h4, h5, h6 { line-height: 1.3; font-weight: 400; color: #1f1e1e; }
b, strong { font-weight: 900; }
i, em { font-style: italic; }
small { font-size: 8px; font-size: 0.5rem; }
big { font-size: 20px; font-size: 1.25rem; }
pre, code { font-family: "Consolas", Courier New, Courier, monospace; margin-bottom: 30px; margin-bottom: 1.875rem; background: #f7f7f7; border: 1px solid #ebebeb; }
pre { padding: 20px; padding: 1.25rem; white-space: pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; white-space: -webkit-pre-wrap; }
kbd { padding: 0px 6px; padding: 0rem 0.375rem; background-color: #f7f7f7; border: 1px solid #aaa; border-radius: 0.1875em; -moz-border-radius: 0.1875em; -moz-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; -webkit-border-radius: 0.1875em; -webkit-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset; text-shadow: 0 0.0625em 0 #fff; }
blockquote { font-size: 15px; font-size: 0.9375rem; font-weight: 600; line-height: 1.6; color: #55b2a2; margin-left: 20px; padding: 20px 20px 0 20px; padding: 1.25rem 1.25rem 0 1.25rem; border-left: 5px solid #55b2a2; display: inline-block; }
sup { vertical-align: super; font-size: 10px; font-size: 0.625rem; }
sub { vertical-align: sub; font-size: 10px; font-size: 0.625rem; }
abbr, acronym { border-bottom: 1px dashed; cursor: help; }
cite { color: #9a9b97; }
address { font-family: "Courier new"; line-height: 1.5; margin-bottom: 20px; margin-bottom: 1.25rem; }
a { text-decoration: none; color: #1f1e1e; }
a:hover { color: #55b2a2; }
hr { margin-bottom: 15px; padding-bottom: 7px; border: 0; border-bottom: 1px dotted #cdcdcd; }

/***** Columns *****/

.mh-row [class*='mh-col-']:first-child { margin-left: 0; }
[class*='mh-col-'] { float: left; margin-left: 3%; overflow: hidden; }
.mh-col-1-1 { float: none; width: 100%; }
.mh-col-1-2 { width: 48.5%; }
.mh-col-1-3 { width: 31.333%; }
.mh-col-2-3 { width: 65.667%; }
.mh-col-1-4 { width: 22.75%; }
.mh-col-3-4 { width: 74.25%; }
.mh-col-1-5 { width: 17.6%; }
.mh-col-1-6 { width: 14.16%; }
.mh-col-1-7 { width: 11.714%; }
.mh-col-1-8 { width: 9.875%; }
.clear { clear: both; }
.clearfix { display: block; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }

/***** Header *****/

.mh-header-top { background: #e64b3e; }
.mh-header { background: #fefefe; }
.logo-wrap { float: left; max-width: 100%; padding: 18px 0 12px; }
.logo-title { font-size: 58px; font-size: 3.625rem; font-weight: 900; color: #8a8a89; }
.logo-tagline { font-size: 14px; font-size: 0.875rem; color: #8a8a89; }
.contact-info { font-size: 15px; font-size: 0.9375rem; line-height: 60px; line-height: 3.75rem; color: #fff; }
.contact-info .fa { margin-right: 10px; }

/***** Navigation *****/

.main-nav { float: right; overflow: visible; }
.main-nav li { float: right; position: relative; border-bottom: 10px solid #fefefe; }
.main-nav li:hover { background: #fafafa; border-bottom: 10px solid #e64b3e; }
.main-nav li:hover a { color: #e64b3e; }
.main-nav li a { display: block; color: #8a8a89; padding: 50px 30px; text-decoration: none; }
.main-nav .current-menu-item { background: #fafafa; border-bottom: 10px solid #6acab9; }
.main-nav ul li:hover > ul { display: block; background: #e64b3e; z-index: 9999; }
.main-nav ul ul { display: none; position: absolute; font-size: 12px; font-size: 0.75rem; border-top: 10px solid #e64b3e; }
.main-nav ul ul li { width: 15em; font-size: 14px; font-size: 0.875rem; background: #fff; border: none; }
.main-nav ul ul li:hover { border-bottom: 0; }
.main-nav ul ul li a { padding: 20px 30px; background: #fafafa; }
.main-nav ul ul li a:hover { background: #e64b3e; color: #fff; }
.main-nav ul ul ul { left: 100%; top: 0; border-top: 0; }

/***** SlickNav Mobile Menu Core Style *****/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438rem 0.625rem; line-height: 1.125rem; cursor: pointer; }
.slicknav_menu .slicknav_menutxt { display: block; line-height: 1.125rem; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188rem 0 0 0.438rem; }
.slicknav_menu .slicknav_no-text { margin: 0; }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125rem; height: 0.125rem; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188rem }
.slicknav_nav { clear: both; }
.slicknav_nav ul, .slicknav_nav li { display: block; }
.slicknav_nav li:hover { background: #c41d17; }
.slicknav_nav .slicknav_arrow { font-size: 14px; font-size: 0.875rem; margin: 0 0 0 0.4rem; }
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block; }
.slicknav_nav .slicknav_item a { display: inline; }
.slicknav_menu:before, .slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both; }
.slicknav_menu { *zoom: 1; display: none; }

/***** SlickNav User Default Style *****/

.slicknav_btn { padding: 20px 20px 25px; }
.slicknav_menu { font-size: 13px; font-size: 0.8125rem; background: #e64b3e; border-bottom: 1px solid #fff; }
.slicknav_menu .slicknav_menutxt { display: none; }
.slicknav_menu .slicknav_icon-bar { width: 1.5625rem; height: 0.25rem; background: #fff; }
.slicknav_nav { font-size: 16px; font-size: 1rem; font-weight: 400; color: #fff; }
.slicknav_nav, .slicknav_nav ul { list-style: none; overflow: hidden; }
.slicknav_nav ul { padding: 20px; border-top: 1px solid #fff; }
.slicknav_nav ul ul { border: 0; padding: 0 0 0 30px; }
.slicknav_nav .slicknav_item { padding: 5px 10px; margin: 2px 5px; }
.slicknav_nav a, .slicknav_nav a:hover { padding: 5px 10px; margin: 2px 5px; text-decoration: none; color: #fff; }
.slicknav_nav .slicknav_item a { padding: 0; margin: 0; }
.slicknav_nav .slicknav_item:hover { color: #fff; }
.slicknav_nav .slicknav_txtnode { margin-left: 15px; }

/***** Social Navigation *****/

.social-nav { float: right; display: block; overflow: hidden; }
.social-nav .screen-reader-text { position: absolute; top: -9999rem; left: -9999rem; }
.social-nav .fa-mh-social { color: #fff; }
.social-nav ul { list-style-type: none; margin: 0; text-align: right; }
.social-nav ul li { display: inline-block; margin: 0 0 0 10px; }
.social-nav .fa-stack { height: 60px; height: 3.75rem; font-size: 20px; font-size: 1.25rem; }
.social-nav .fa-stack-1x, .social-nav .fa-stack-2x { line-height: 60px; line-height: 3.75rem; }
.social-nav li a { color: #e64b3e; }
.social-nav li:hover a { color: #c41d17; }
.social-nav li a .fa-mh-social:before { content: '\f09e'; }
.social-nav li a[href*="behance.net"] .fa-mh-social:before { content: '\f1b4'; }
.social-nav li a[href*="dribbble.com"] .fa-mh-social:before { content: '\f17d'; }
.social-nav li a[href*="facebook.com"] .fa-mh-social:before { content: '\f09a'; }
.social-nav li a[href*="flickr.com"] .fa-mh-social:before { content: '\f16e'; }
.social-nav li a[href*="plus.google.com"] .fa-mh-social:before { content: '\f0d5'; }
.social-nav li a[href*="instagram.com"] .fa-mh-social:before { content: '\f16d'; }
.social-nav li a[href*="linkedin.com"] .fa-mh-social:before { content: '\f0e1'; }
.social-nav li a[href*="pinterest.com"] .fa-mh-social:before { content: '\f0d2'; }
.social-nav li a[href*="reddit.com"] .fa-mh-social:before { content: '\f1a1'; }
.social-nav li a[href*="soundcloud.com"] .fa-mh-social:before { content: '\f1be'; }
.social-nav li a[href*="tumblr.com"] .fa-mh-social:before { content: '\f173'; }
.social-nav li a[href*="twitter.com"] .fa-mh-social:before { content: '\f099'; }
.social-nav li a[href*="vimeo.com"] .fa-mh-social:before { content: '\f194'; }
.social-nav li a[href*="xing.com"] .fa-mh-social:before { content: '\f168'; }
.social-nav li a[href*="yelp.com"] .fa-mh-social:before { content: '\f1d4'; }
.social-nav li a[href*="youtube.com"] .fa-mh-social:before { content: '\f167'; }

/***** FlexSlider Browser Resets *****/

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none; }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }

/***** FlexSlider Icon Fonts *****/

@font-face { font-family: 'flexslider-icon'; src:url('fonts/flexslider-icon.eot'); src:url('fonts/flexslider-icond41d.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg'); font-weight: normal; font-style: normal; }

/***** FlexSlider Necessary Styles *****/

.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides img { width: 100%; display: block; }
.flex-pauseplay span { text-transform: capitalize; }
.slides:after { content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
.no-js .slides > li:first-child { display: block; }

/***** FlexSlider Custom Theme *****/

.flexslider { position: relative; zoom: 1; background: #6acab9; }
.flex-viewport { max-height: 2000px; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }

/***** FlexSlider Direction Nav *****/

.flex-direction-nav { *height: 0; }
.flex-direction-nav a { text-decoration: none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0 !important; filter: alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before { font-family: "flexslider-icon"; font-size: 40px; font-size: 2.5rem; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before { content: '\f002'; }

/***** Posts/Pages *****/

.entry-content { overflow: hidden; }
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-content p, .entry-content blockquote, .entry-content table { margin-bottom: 30px; margin-bottom: 1.875rem; }
.entry-content a { font-weight: 600; color: #6acab9; }
.entry-content a:hover { text-decoration: underline; }
.entry-header { margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-tags a { display: inline-block; font-weight: 900; margin-right: 10px; color: #8a8a89; }
.entry-tags a:hover { color: #55b2a2; }
.entry-tags .fa { margin-right: 10px; color: #6acab9; }
.entry-thumbnail { margin-bottom: 20px; margin-bottom: 1.25rem; }
.entry-thumbnail img { width: 100%; }
.entry-meta { display: block; margin-bottom: 20px; margin-bottom: 1.25rem; padding: 20px; background: #efefef; }
.entry-meta, .entry-meta a { color: #4d4d4d; font-weight: 400; }
.entry-meta a:hover { color: #55b2a2; }
.entry-meta span { display: inline-block; margin-right: 10px;  }
.entry-meta .fa { margin-right: 5px; color: #6acab9; }
.home-content { padding: 40px 3.5%; }

/***** Sitemap Template *****/

.sitemap-list { margin-bottom: 30px; margin-bottom: 1.875rem; }

/***** Loop / Archives / Search Results *****/

.loop-content .page-title { margin-bottom: 20px; margin-bottom: 1.25rem; }
.loop-content-item { margin-bottom: 25px; margin-bottom: 1.5625rem; border-bottom: 1px dotted #cdcdcd; }
.loop-content-thumb { margin: 30px 0 20px; margin: 1.875rem 0 1.25rem; }
.loop-content-excerpt { margin-bottom: 30px; margin-bottom: 1.875rem; }
.sticky { }

/***** Author Box *****/

.author-box { padding: 20px; margin-bottom: 20px; margin-bottom: 1.25rem; background: #f0f0f0; }
.author-box-avatar { float: left; width: 100px; height: 100px; margin-right: 20px; }
.author-box-name { font-size: 18px; font-size: 1.125rem; margin-bottom: 10px; }
.author-box-desc { font-size: 14px; font-size: 0.875rem; overflow: hidden; }

/***** Lists *****/

.entry-content ul, .commentlist ul { list-style: square; }
.entry-content ol, .commentlist ol { list-style: decimal; }
.entry-content ul, .commentlist ul, .entry-content ol, .commentlist ol { margin: 0 0 30px 40px; margin: 0 0 1.875rem 2.5rem; }
.entry-content ul ul, .commentlist ul ul, .entry-content ol ol, .commentlist ol ol { margin: 0 0 0 40px; margin: 0 0 0 2.5rem; }
dl { margin: 0 0 30px 40px; margin: 0 0 1.875rem 2.5rem; }
dt, dd { display: list-item; }
dt { list-style-type: square; font-weight: bold; }
dd { list-style-type: circle; margin-left: 30px; margin-left: 1.875rem; }
select { max-width: 100%; }

/***** Comments *****/

.comments-wrap, .pingback-wrap { position: relative; }
.comment-section-title { color: #fff; font-size: 14px; font-size: 0.875rem; font-weight: 400; margin-bottom: 20px; margin-bottom: 1.25rem; background: #6acab9; text-transform: uppercase; overflow: hidden; }
.comment-section-title:before { position: absolute; top: 0; left: 0; content: ""; border-width: 0 0 16px 16px; border-style: solid; border-color: #55b2a2 #fff; }
.comment-section-title span { padding: 20px 0 20px 20px; }
.comment-section-title .comment-count-more { float: left; padding-left: 5px; }
.comment-section-title .comment-count { float: left; }
.commentlist, .pinglist { padding: 30px; margin-bottom: 30px; list-style: none; background: #efefef; }
.commentlist .depth-1 { background: #fff; padding: 30px 30px 20px; margin-bottom: 30px; border-bottom: 5px solid #6acab9; }
.commentlist .vcard { position: relative; margin-bottom: 10px; margin-bottom: 0.625rem; }
.commentlist .vcard .url { font-weight: 900; }
.commentlist .avatar { float: left; width: 70px; height: 70px; margin-right: 20px; border: 5px solid #efefef; }
.commentlist .bypostauthor .avatar { border-color: #6acab9; }
.commentlist .children { list-style: none; margin: 0 0 10px 0; }
.commentlist .children li { padding: 20px; margin-top: 20px; background: #fafafa; }
.commentlist .depth-2 .children li { background: #f0f0f0; }
.commentlist .depth-3 .children li { background: #eaeaea; }
.commentlist .depth-4 .children li { background: #e0e0e0; }
.commentlist h1, .commentlist h2, .commentlist h3, .commentlist h4, .commentlist h5, .commentlist h6 { margin-bottom: 20px; margin-bottom: 1.25rem; }
.comment-text p, .comment-text blockquote { margin-bottom: 20px; margin-bottom: 1.25rem; }
.comment-text blockquote p:last-child { margin: 0; }
.comment-info { color: #55b2a2; margin: 20px 0px; margin: 1.25rem 0rem; }
.comment-reply .comment-reply-link, .comment-reply .comment-edit-link { font-size: 13px; font-size: 0.8125rem; background: #ccc; color: #fff; padding: 5px 10px; }
.comments-pagination { margin-bottom: 20px; margin-bottom: 1.25rem; }
.pinglist .pings:first-child { border-top: 1px solid #ddd; }
.pinglist .pings { line-height: 2.5; padding: 5px 0; padding: 0.3125rem 0; border-bottom: 1px solid #ddd; }
.pinglist .fa-link { margin-right: 10px; margin-right: 0.625rem; }
.no-comments { padding: 20px; padding: 1.25rem; margin-top: 20px; margin-top: 1.25rem; background: #efefef; }

/***** Comment Form *****/

#respond { padding: 20px 20px 10px; padding: 1.25rem 1.25rem 0.625rem; margin: 30px 0; margin: 1.875rem 0; background: #efefef; }
#respond h3 { margin-bottom: 20px; margin-bottom: 1.25rem; }
#commentform p { margin-bottom: 10px; margin-bottom: 0.625rem; }
#cancel-comment-reply-link { margin-left: 20px; font-size: 12px; font-size: 0.75rem; font-weight: 400; background: #ccc; padding: 5px; padding: 0.3125rem; color: #fff; }
#cancel-comment-reply-link:hover { background: #55b2a2; }
.required { color: #be2844; }

/***** Forms *****/

input { font-size: 12px; font-size: 0.75rem; padding: 5px; padding: 0.3125rem; border: 1px solid #d7d8d8; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
input[type=text], input[type=email], input[type=tel], input[type=url] { width: 60%; }
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=url]:hover, textarea:hover  { border: 1px solid #55b2a2; }
input[type=submit] { color: #fff; padding: 14px; cursor: pointer; background: #6acab9; display: inline-block; border: 0; -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; }
input[type=submit]:hover { background: #1f1e1e; color: #fff; border: 0; padding: 14px; }
textarea { width: 96%; line-height: 1.5; padding: 5px; padding: 0.3125rem; border: 1px solid #d7d8d8; }

/***** Pagination *****/

.pagination { margin-bottom: 30px; overflow: hidden; }
.pagination .page-numbers { display: inline-block; padding: 10px 20px; background: #efefef; }
.pagination .current { color: #fff; background: #55b2a2; }
.pagination a.page-numbers:hover, .dots:hover { color: #fff; background: #55b2a2; }
.pagination .pagelink { display: inline-block; color: #fff; padding: 10px 20px; background: #55b2a2; }
.pagination a .pagelink { color: #000; font-weight: 400; background: #efefef; }
.pagination a:hover .pagelink { color: #fff; background: #55b2a2; }
.post-nav-wrap { text-align: center; margin: 0 auto; margin-bottom: 20px; }
.post-nav-wrap li { display: block; float: left; width: 48%; font-size: 14px; font-size: 0.875rem; text-transform: uppercase; }
.post-nav-wrap li a { display: block; width: 90%; color: #000; padding: 5%; background: #f0f0f0; }
.post-nav-wrap li .fa { margin: 0 10px; }
.post-nav-wrap .post-nav-prev { margin-right: 4%; }

/***** Images / Video *****/

img { max-width: 100%; width: auto\9; /* ie8 */ height: auto; vertical-align: bottom; }
iframe { max-width: 100%; }
.alignnone { display: block; margin: 20px 0; margin: 1.25rem 0; }
.aligncenter { display: block; margin: 20px auto; margin: 1.25rem auto; }
.alignleft { display: inline; float: left; margin: 5px 20px 20px 0; margin: 0.3125rem 1.25rem 1.25rem 0; }
.alignright { display: inline; float: right; margin: 5px 0 20px 20px; margin: 0.3125rem 0 1.25rem 1.25rem; }
.wp-caption { max-width: 100%; }
.wp-caption-text { font-size: 12px; font-size: 0.75rem; font-weight: 700; line-height: 1.4; color: #454545; margin-top: 5px; margin-top: 0.3125rem; display: block; }
.alignnone .wp-caption-text, .aligncenter .wp-caption-text, .alignleft .wp-caption-text, .alignright .wp-caption-text { margin-bottom: 0; }

/***** Gallery *****/

.gallery { margin-bottom: 20px; }
.gallery-item { float: left; margin: 0 4px 4px 0; overflow: hidden; position: relative; }
.gallery-columns-1 .gallery-item { max-width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 48%; max-width: -webkit-calc(50% - 4px); max-width: calc(50% - 4px); }
.gallery-columns-3 .gallery-item { max-width: 32%; max-width: -webkit-calc(33.3% - 4px); max-width: calc(33.3% - 4px); }
.gallery-columns-4 .gallery-item { max-width: 23%; max-width: -webkit-calc(25% - 4px); max-width: calc(25% - 4px); }
.gallery-columns-5 .gallery-item { max-width: 19%; max-width: -webkit-calc(20% - 4px); max-width: calc(20% - 4px); }
.gallery-columns-6 .gallery-item { max-width: 15%; max-width: -webkit-calc(16.7% - 4px); max-width: calc(16.7% - 4px); }
.gallery-columns-7 .gallery-item { max-width: 13%; max-width: -webkit-calc(14.28% - 4px); max-width: calc(14.28% - 4px); }
.gallery-columns-8 .gallery-item { max-width: 11%; max-width: -webkit-calc(12.5% - 4px); max-width: calc(12.5% - 4px); }
.gallery-columns-9 .gallery-item { max-width: 9%; max-width: -webkit-calc(11.1% - 4px); max-width: calc(11.1% - 4px); }
.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) { margin-right: 0; }
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1), .gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1), .gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1), .gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) { clear: left; }
.gallery-caption { background-color: rgba(0, 0, 0, 0.7); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 12px; font-size: 0.75rem; line-height: 1.5; margin: 0; max-height: 50%; opacity: 0; padding: 6px 8px; position: absolute; bottom: 0; left: 0; text-align: left; width: 100%; }
.gallery-caption:before { content: ""; height: 100%; min-height: 49px; position: absolute; top: 0; left: 0; width: 100%; }
.gallery-item:hover .gallery-caption { opacity: 1; }
.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption { display: none; }

/***** Tables *****/

table { width: 100%; }
table th { color: #fff; background: #6acab9; padding: 10px; padding: 0.625rem; }
table tr:nth-child(odd) { background-color: #eae9e8; }
table tr:nth-child(even) { background-color: #fff; }
table td { font-size: 12px; font-size: 0.75rem; border: 1px solid #ebebeb; border-top: 0; text-align: center; vertical-align: middle; padding: 10px; padding: 0.625rem; }
table caption { padding: 10px 0; background: #efefef; }
table a { color: #55b2a2; font-weight: 900; }

/***** Search *****/

.search-form { position: relative; }
.search-form .search-field { min-width: 200px; font-size: 11px; font-size: 0.6875rem; color: #1f1e1e; padding: 10px; border: 1px solid #cdcdcd; background: #fff; text-transform: uppercase; cursor: pointer; -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; }
.search-form .search-field:hover { min-width: 240px; }
.search-form .search-field:active, .search-form .search-field:focus { cursor: text; }
.search-form .search-submit { display: none; }
.search-form .screen-reader-text { position: absolute; left: -9999px; overflow: hidden; }
.entry-content .search-form { float: left; margin: 0; }
.sb-widget .search-form { display: block; margin: 0 auto; padding: 5%; background: #efefef; }
.sb-widget .search-form .search-field { display: block; margin: 0 auto; width: 90%; }
.sb-widget .search-form .search-field:hover { min-width: 200px; }

/***** Contact Form 7 *****/

.wpcf7-form { font-size: 14px; font-size: 0.875rem; padding: 20px; padding: 1.25rem; background: #efefef; }
.wpcf7-form input, .wpcf7-form textarea { font-size: 14px; font-size: 0.875rem; }
.wpcf7-form input[type="submit"] { min-width: 100px; }
.wpcf7-form p { margin-bottom: 10px; margin-bottom: 0.625rem; }
.wpcf7-response-output { background: #fff; }

/***** Social Buttons *****/

.mh-share-buttons { margin-bottom: 20px; margin-bottom: 1.25rem; padding: 20px; background: #f0f0f0; overflow: hidden; }
.mh-share-buttons a, .mh-share-buttons a:hover { color: #fff; }
.mh-share-buttons .fa { display: inline-block; font-size: 1.25em; margin-right: 10px; }
.mh-share-button { display: block; width: 100%; height: 100%; font-size: 12px; font-size: 0.75rem; font-weight: 700; padding: 10px 0; text-align: center; text-transform: uppercase; }
.mh-share-button:hover { opacity: 0.7; }
.mh-facebook span { background: #3e64ad; }
.mh-twitter span { background: #6aadd1; }
.mh-pinterest span { background: #de010d; }
.mh-googleplus span { background: #cd3627; }

/***** Footer *****/

#prefooter { padding-top: 40px; background: #343232; overflow: hidden; }
.mh-footer { margin: 0 auto; text-align: center; overflow: hidden; }
.copyright { color: #fff; font-size: 14px; font-size: 0.875rem; padding: 40px; overflow: hidden; text-transform: uppercase; background: #1f1e1e; }
.copyright a { color: #fff; }
.copyright a:hover { text-decoration: underline; }

/***** Sidebars/Widgets *****/

.sb-widget { position: relative; margin-bottom: 40px; }
.sb-widget .widget-title, .sitemap .widget-title { font-size: 14px; font-size: 0.875rem; font-weight: 400; padding: 20px; background: #6acab9; }
.sb-widget .widget-title:before { position: absolute; top: 0; left: 0; content: ""; border-width: 0 0 16px 16px; border-style: solid; border-color: #55b2a2 #fff; }
.footer-widget .widget-title { font-size: 18px; font-size: 1.125rem; font-weight: 700; background: transparent; }
.widget-title { color: #fff; margin-bottom: 20px; margin-bottom: 1.25rem; text-transform: uppercase; overflow: hidden; }
.widget-title a { color: #fff; }
.widget-title-home { font-size: 42px; font-size: 2.625rem; text-align: center; text-transform: uppercase; }
.widget-title-home a { color: #fff; }
.widget-wrap, .hp .textwidget { padding: 40px 3.5%; overflow: hidden; }
.home-widget { background: #fafafa; }
.home-widget:nth-child(even) { background: #fff; }
.widget-list li { list-style-type: none; display: block; }
.widget-list > li { padding: 10px 0; border-bottom: 1px dotted #dcdcdc; }
.widget-list li:hover { background: #fdfdfd; padding-left: 10px; }
.widget-list .children li { margin-top: 10px; padding-top: 10px; border-top: 1px dotted #dcdcdc; }
.footer-widget .widget-list > li { padding: 10px 0; border-bottom: 1px dotted #343232; color: #dcdcdc; }
.footer-widget .widget-list li:hover { background: #343232; padding-left: 10px; }
.footer-widget .widget-list .children li { margin-top: 10px; padding-top: 10px; padding-bottom: 0; border-top: 1px dotted #343232; border-bottom: none; }
.footer-widget { color: #dcdcdc; margin-bottom: 40px; padding: 40px; background: #1f1e1e; border-radius: 20px; }
.footer-widget a, .footer-widget a:hover { color: #dcdcdc; }

/***** MH Call to Action Widget *****/

.action-widget { color: #fff; background: #6acab9; }
.action-widget-title, .action-widget-subtitle { color: #fff; margin-bottom: 10px; text-transform: uppercase; }
.action-widget .button { float: right; display: block; color: #fff; border: 2px solid #fff; border-radius: 5px; padding: 12px 20px; margin-top: 10px; }
.action-widget .button:hover { background: #fff; color: #6acab9; }

/***** MH Blog Widget *****/

.blog-widget { color: #fff; background: #e64b3e; }
.blog-widget a, .blog-widget a:hover { color: #fff; }
.blog-widget .widget-title-home { color: #fff; line-height: 1; margin-bottom: 40px; }
.blog-widget-thumb { margin-bottom: 20px; text-align: center; border: 20px solid #c41d17; background: #c41d17; }
.blog-widget-xl-title { font-size: 32px; font-size: 2rem; margin-bottom: 10px; }
.blog-widget li { border-bottom: 1px dotted #fff; }
.blog-widget li:hover { background: #c41d17; }

/***** MH Buttons Widget *****/

.buttons-widget, .buttons-widget a, .buttons-widget a:hover { color: #fff; }
.buttons-widget-item { background: #1f1e1e; overflow: hidden; }
.buttons-widget-clickable { display: block; overflow: hidden; }
.buttons-widget-text { float: left; width: 270px; font-size: 32px; font-size: 2.0rem; font-weight: 700; line-height: 64px; line-height: 4rem; padding: 40px; background: #e64b3e; text-align: center; text-transform: uppercase; }
.buttons-widget-icon { padding: 40px 0; text-align: center; }
.buttons-widget-icon .fa { font-size: 64px; font-size: 4rem; }
.buttons-widget-item:hover { background: #c41d17; }

/***** MH Google Maps Widget *****/

.map-widget { color: #4d4d4d; text-align: center; }
.map-widget-col { width: 100%; margin: 0 0 1% 0; }
.map-widget-embed .gmap-embed { width: 94%; max-width: 800px; height: auto; margin: 40px auto 0; border: 0; padding: 3%; border-radius: 0; background: #f0f0f0; }
.map-widget:hover .gmap-embed { background: #6acab9; }
.map-widget-text { width: 60%; margin: 30px auto 0; text-align: center; }

/***** MH Pricing Tables Widget *****/

.pricing-widget-title { padding-top: 40px; }
.pricing-widget, .pricing-widget a { color: #4d4d4d; text-align: center; }
.pricing-table:hover { margin-top: -20px; }
.pricing-table-title { color: #fff; padding: 20px; background: #55b2a2; text-transform: uppercase; }
.pricing-table-price { font-size: 42px; font-size: 2.625rem; color: #fff; padding: 40px; background: #6acab9; }
.pricing-widget li { padding: 20px; background: #f0f0f0; }
.pricing-widget li:nth-child(even) { background: #f4f4f4; }
.pricing-widget .mh-col-1-1:first-child { max-width: 800px; margin: 0 auto; }

/***** MH Custom Pages Widget *****/

.pages-widget-item { color: #4d4d4d; text-align: center; }
.pages-widget-item:hover a { color: #55b2a2; }
.pages-widget-item:hover img { border: 20px solid #6acab9; }
.pages-widget-thumb img { max-width: 220px; margin-bottom: 20px; border-radius: 50%; border: 20px solid #f0f0f0; }
.pages-widget-title { margin-bottom: 20px; }

/***** MH Slider Widget *****/

[id*='slider-'] .flex-direction-nav a { color: #e64b3e; height: 50px; opacity: 1; text-shadow: none; }
[id*='slider-'] .flex-prev { left: 10px; }
[id*='slider-'] .flex-next { right: 10px; }
[id*='slider-'] img { -webkit-transition: opacity 0.3s linear; -moz-transition: opacity 0.3s linear; -o-transition: opacity 0.3s linear; -ms-transition: opacity 0.3s linear; transition: opacity 0.3s linear; }
[id*='slider-']:hover img { opacity: 0.8; }
.slide-wrap { position: relative; background: #000; }
.slide-caption { position: absolute; max-width: 75%; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); background: rgba(31, 30, 30, 0.5); }
.slide-caption a, .slide-title { color: #fff; text-decoration: none; text-transform: uppercase; }
.slide-title { font-size: 48px; font-size: 3rem; padding: 5px 10px; font-weight: 900; overflow: hidden; text-align: center; }

/***** Default WordPress Widgets *****/

.sb-widget ul > .cat-item, .sb-widget ul > .menu-item, .sb-widget ul > .page_item { padding: 10px 0; border-bottom: 1px dotted #dcdcdc; }
.sb-widget ul .cat-item:hover, .sb-widget ul .menu-item:hover, .sb-widget ul .page_item:hover { background: #fdfdfd; padding-left: 10px; }
.sb-widget ul .children .cat-item, .sb-widget ul .sub-menu .menu-item, .sb-widget ul .children .page_item { margin-top: 10px; padding-top: 10px; padding-bottom: 0; border-top: 1px dotted #dcdcdc; border-bottom: none; }
.footer-widget ul > .cat-item, .footer-widget ul > .menu-item, .footer-widget ul > .page_item { padding: 10px 0; border-bottom: 1px dotted #343232; color: #dcdcdc; }
.footer-widget ul .children .cat-item, .footer-widget ul .sub-menu .menu-item, .footer-widget ul .children .page_item { margin-top: 10px; padding-top: 10px; padding-bottom: 0; border-top: 1px dotted #343232; border-bottom: none; }
.footer-widget ul .cat-item:hover, .footer-widget ul .menu-item:hover, .footer-widget ul .page_item:hover { background: #343232; padding-left: 10px; }

/***** Media Queries *****/

@media only screen and (max-width: 1200px) {
	.mh-container { width: 90%; }
	.logo-wrap { padding: 16px 0 12px; }
	.logo-title { font-size: 48px; font-size: 3.0rem; }
	.main-nav li a { padding: 40px 20px; }
	.buttons-widget-text { float: none; width: auto; max-width: 100%; line-height: 1.6; }
	.buttons-widget-icon .fa { font-size: 52px; font-size: 3.25rem; }
	.commentlist ul, .commentlist ol { margin: 0 0 30px 20px; margin: 0 0 1.875rem 1.25rem; }
	.commentlist ul ul, .commentlist ol ol { margin: 0; }
}
@media only screen and (max-width: 1023px) {
	.mh-header-top, .js .main-nav { display: none; }
	.js .slicknav_menu { display: block; }
	.logo-wrap { float: none; text-align: center; }
	.logo-title { font-size: 56px; font-size: 3.5rem; text-align: center; }
	.logo-tagline { margin-bottom: 20px; text-align: center; }
	[class*='mh-col-'], .mh-right-sb #main-content, .mh-left-sb #main-content, .mh-sidebar { float: none; width: 100%; margin: 0; }
	.page-title, .entry-title { padding: 20px; background: #6acab9; color: #fff; }
	.entry-title, .blog-widget .widget-title-home { margin-bottom: 20px; }
	.mh-share-buttons .mh-col-1-4 { float: left; width: 22.75%; margin-left: 3%; }
	.contact-page .page-wrap, .no-comments { margin-bottom: 30px; margin-bottom: 1.875rem; }
	.action-widget, .blog-widget li, .blog-widget-xl-title, .footer-widget, .page-title, .entry-title, .sb-widget li, .widget-title { text-align: center; }
	.action-widget .button { float: none; max-width: 400px; margin: 15px auto 0; }
	.pages-widget-item { margin-top: 40px; }
	.pages-widget-item:first-child { margin-top: 0; }
	.blog-widget-xl { border-bottom: 1px dotted #fff; padding-bottom: 30px; }
	.widget-list li:hover, .sb-widget ul .cat-item:hover, .sb-widget ul .menu-item:hover, .sb-widget ul .page_item:hover, .footer-widget .widget-list li:hover, .footer-widget ul .cat-item:hover, .footer-widget ul .menu-item:hover, .footer-widget ul .page_item:hover { padding-left: 0; }
	.pricing-widget [class*='mh-col-'] { margin-top: 40px; }
	.pricing-widget [class*='mh-col-']:first-child { margin: 0; }
	.buttons-widget .mh-col-1-2:first-child { margin-bottom: 40px; }
	.buttons-widget-text { font-size: 40px; font-size: 2.5rem; }
	.buttons-widget-icon .fa { font-size: 80px; font-size: 5rem; }
	.map-widget-text { width: 80%; }
	.slide-title { font-size: 42px; font-size: 2.625rem; }
}
@media only screen and (max-width: 768px) {
	.logo-title { font-size: 48px; font-size: 3.0rem; }
	.comments-wrap .comment-count-more { display: none; }
	.commentlist, .pinglist, .commentlist .depth-1, .commentlist .children li { padding: 20px; }
	.buttons-widget-text { font-size: 32px; font-size: 2rem; }
	.buttons-widget-icon .fa { font-size: 64px; font-size: 4rem; }
	.map-widget-text { width: 90%; }
	.slide-title { font-size: 36px; font-size: 2.25rem; }
}
@media only screen and (max-width: 580px) {
	.logo-title { font-size: 42px; font-size: 2.625rem; }
	.entry-title, .page-title, .widget-title-home { font-size: 28px; font-size: 1.75rem; }
	.page-title, .entry-title { padding: 10px; }
	.entry-tags { text-align: center; }
	.entry-meta .entry-cats { display: none; }
	.mh-share-buttons .mh-col-1-4 { float: none; width: 100%; margin: 10px 0 0 0; }
	.mh-share-buttons .mh-col-1-4:first-child { margin: 0; }
	.post-nav-wrap li { float: left; width: 100%; }
	.post-nav-wrap .post-nav-prev { margin: 0 0 20px; }
	.author-box { text-align: center; }
	.author-box-avatar { float: none; margin: 0 auto 20px; }
	.commentlist { text-align: center; }
	.commentlist .avatar { float: none; display: block; margin: 10px auto 15px; }
	.commentlist, .pinglist, .commentlist .depth-1, .commentlist .children li { padding: 10px; }
	.slide-title { font-size: 28px; font-size: 1.75rem; }
}
@media only screen and (max-width: 420px) {
	#mh-wrapper { margin: 0; }
	.mh-container { width: 100%; }
	.mh-content-wrap { padding: 0 7%; }
	.widget-wrap, .hp .textwidget { padding: 40px 7% }
	.logo-title { font-size: 36px; font-size: 2.25rem; }
	.pages-widget-thumb img { max-width: 160px; }
	.buttons-widget-text { font-size: 24px; font-size: 1.5rem; }
	[id*='slider-'] .flex-direction-nav { display: none; }
	.slide-caption { position: relative; width: 100%; max-width: 100%; padding: 10px 0; top: auto; bottom: 0; left: 0; transform: none; -ms-transform: none; -webkit-transform: none; background: #55b2a2; }
	.slide-title { font-size: 22px; font-size: 1.375rem; }
	.footer-widget { border-radius: 0; }
}