<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Camp Little Wiggle</title>
	<atom:link href="https://www.camplittlewiggle.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.camplittlewiggle.com</link>
	<description>Doggie Daycare &#38; Sleepovers</description>
	<lastBuildDate>Tue, 21 Mar 2017 07:22:51 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.5.4</generator>

<image>
	<url>https://www.camplittlewiggle.com/wp-content/uploads/2017/03/cropped-favicon2-32x32.png</url>
	<title>Camp Little Wiggle</title>
	<link>https://www.camplittlewiggle.com</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Click Here to See Moby&#8217;s Failed Attempt at Burrowing :-(</title>
		<link>https://www.camplittlewiggle.com/mobys-failed-attempt-at-borrowing/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Tue, 14 Mar 2017 06:41:20 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=330</guid>

					<description><![CDATA[Another day, another failed attempt at burrowing?? Poor Mobes. No matter how many times his brother Howie (who has a Black Belt in Burrowing Technique) shows him, he just doesn&#8217;t get it!? Without discouraging your ongoing practice, I shall continue to tuck you in, my]]></description>
										<content:encoded><![CDATA[<blockquote class="instagram-media" style="background: #FFF; border: 0; border-radius: 3px; box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width: 658px; padding: 0; width: calc(100% - 2px);" data-instgrm-captioned="" data-instgrm-version="7">
<div style="padding: 8px;">
<div style="background: #F8F8F8; line-height: 0; margin-top: 40px; padding: 50.0% 0; text-align: center; width: 100%;"></div>
<p style="margin: 8px 0 0 0; padding: 0 4px;"><a style="color: #000; font-family: Arial,sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none; word-wrap: break-word;" href="https://www.instagram.com/p/BO0BKyKgsht/" target="_blank">Another day, another failed attempt at burrowing?? Poor Mobes. No matter how many times his brother Howie (who has a Black Belt in Burrowing Technique) shows him, he just doesn&#8217;t get it!? Without discouraging your ongoing practice, I shall continue to tuck you in, my challenged fur-son??? #thestruggleisreal #burrowdog #burrowfail #dogsofinstagram #dogs_of_instagram #dogofinstagram #dogstagram #dogoftheday #doglover #doglovers #doggydaycare #instadog #dogboarding #dogsoflosangeles #dogsitter #dogrescue #dogsofig #dogslife #doglove #doggies #worldofcutepets #dog_features #mydogiscutest #barkpack #bestwoof #excellent_dogs #italiangreyhoundmix #italiangreyhound #italiangreyhounds #iggies</a></p>
<p style="color: #c9c8cd; font-family: Arial,sans-serif; font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 8px; overflow: hidden; padding: 8px 0 7px; text-align: center; text-overflow: ellipsis; white-space: nowrap;">A post shared by Camp Little Wiggle (@camplittlewiggle) on <time style="font-family: Arial,sans-serif; font-size: 14px; line-height: 17px;" datetime="2017-01-03T18:46:29+00:00">Jan 3, 2017 at 10:46am PST</time></p>
</div>
</blockquote>
<p><script async defer src="//platform.instagram.com/en_US/embeds.js"></script></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Monkey Likes Carrots (Click to Watch)</title>
		<link>https://www.camplittlewiggle.com/monkey-likes-carrots/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Thu, 16 Feb 2017 07:19:25 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=313</guid>

					<description><![CDATA[?❤️&#8217;s? @stephvana #mmmcarots #dogslikecarots #chihuahuasofinstagram #chihuahualife #dogs #dogsofinstagram #dogs_of_instagram #dogofinstagram #dogstagram #dogoftheday #doglover #doglovers #doggydaycare #instadog #dogboarding #dogsoflosangeles #dogsitter #dogrescue #dogsofig #doggie #doggy #doglife #dogslife #doglove #doggies #worldofcutepets #mydogiscutest #barkpack #bestwoof #sendadogphoto A post shared by Camp Little Wiggle (@camplittlewiggle) on Jan 7, 2017 at]]></description>
										<content:encoded><![CDATA[<blockquote class="instagram-media" style="background: #FFF; border: 0; border-radius: 3px; box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width: 658px; padding: 0; width: calc(100% - 2px);" data-instgrm-captioned="" data-instgrm-version="7">
<div style="padding: 8px;">
<div style="background: #F8F8F8; line-height: 0; margin-top: 40px; padding: 62.5% 0; text-align: center; width: 100%;"></div>
<p style="margin: 8px 0 0 0; padding: 0 4px;"><a style="color: #000; font-family: Arial,sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none; word-wrap: break-word;" href="https://www.instagram.com/p/BO-7wX5AgFz/" target="_blank">?<img src="https://s.w.org/images/core/emoji/15.0.3/72x72/2764.png" alt="❤" class="wp-smiley" style="height: 1em; max-height: 1em;" />&#8217;s? @stephvana #mmmcarots #dogslikecarots #chihuahuasofinstagram #chihuahualife #dogs #dogsofinstagram #dogs_of_instagram #dogofinstagram #dogstagram #dogoftheday #doglover #doglovers #doggydaycare #instadog #dogboarding #dogsoflosangeles #dogsitter #dogrescue #dogsofig #doggie #doggy #doglife #dogslife #doglove #doggies #worldofcutepets #mydogiscutest #barkpack #bestwoof #sendadogphoto</a></p>
<p style="color: #c9c8cd; font-family: Arial,sans-serif; font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 8px; overflow: hidden; padding: 8px 0 7px; text-align: center; text-overflow: ellipsis; white-space: nowrap;">A post shared by Camp Little Wiggle (@camplittlewiggle) on <time style="font-family: Arial,sans-serif; font-size: 14px; line-height: 17px;" datetime="2017-01-08T00:30:50+00:00">Jan 7, 2017 at 4:30pm PST</time></p>
</div>
</blockquote>
<p><script async defer src="//platform.instagram.com/en_US/embeds.js"></script></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Lucy, Ziggy, Leo, and Dodger!</title>
		<link>https://www.camplittlewiggle.com/lucy-ziggy-leo-and-dodger/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Tue, 07 Feb 2017 07:23:36 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=318</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p><a href="http://www.camplittlewiggle.com/wp-content/uploads/2017/03/lucy-ziggy-leo.jpg"><img decoding="async" class="alignnone size-full wp-image-319" src="http://www.camplittlewiggle.com/wp-content/uploads/2017/03/lucy-ziggy-leo.jpg" alt="" width="597" height="530" srcset="https://www.camplittlewiggle.com/wp-content/uploads/2017/03/lucy-ziggy-leo.jpg 597w, https://www.camplittlewiggle.com/wp-content/uploads/2017/03/lucy-ziggy-leo-300x266.jpg 300w" sizes="(max-width: 597px) 100vw, 597px" /></a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Brownie &#038; Me Having a Snuggle Sesh</title>
		<link>https://www.camplittlewiggle.com/brownie-me-having-a-snuggle-sesh/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Tue, 07 Feb 2017 07:22:00 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=315</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p><a href="http://www.camplittlewiggle.com/wp-content/uploads/2017/03/sandra-and-brownie.jpg"><img loading="lazy" decoding="async" class="alignnone size-full wp-image-316" src="http://www.camplittlewiggle.com/wp-content/uploads/2017/03/sandra-and-brownie.jpg" alt="" width="428" height="597" srcset="https://www.camplittlewiggle.com/wp-content/uploads/2017/03/sandra-and-brownie.jpg 428w, https://www.camplittlewiggle.com/wp-content/uploads/2017/03/sandra-and-brownie-215x300.jpg 215w" sizes="(max-width: 428px) 100vw, 428px" /></a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Playing in the Yard!</title>
		<link>https://www.camplittlewiggle.com/playing-in-the-yard/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Wed, 14 Aug 2013 07:27:25 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=159</guid>

					<description><![CDATA[Click here to watch the gang playing in the yard!]]></description>
										<content:encoded><![CDATA[<p><a href="http://www.camplittlewiggle.com/wp-content/uploads/2013/08/IMG_9479.mov">Click here to watch the gang playing in the yard!</a></p>
]]></content:encoded>
					
		
		<enclosure url="http://www.camplittlewiggle.com/wp-content/uploads/2013/08/IMG_9479.mov" length="4136958" type="video/quicktime" />

			</item>
		<item>
		<title>A walk in the neighborhood!</title>
		<link>https://www.camplittlewiggle.com/a-walk-in-the-neighborhood/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Wed, 14 Aug 2013 05:59:44 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=152</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p><a href="http://www.camplittlewiggle.com/wp-content/uploads/2013/08/20130813-225912.jpg"><img loading="lazy" decoding="async" class="alignnone size-full wp-image-151" src="http://www.camplittlewiggle.com/wp-content/uploads/2013/08/20130813-225912.jpg" alt="" width="394" height="700" srcset="https://www.camplittlewiggle.com/wp-content/uploads/2013/08/20130813-225912.jpg 394w, https://www.camplittlewiggle.com/wp-content/uploads/2013/08/20130813-225912-84x150.jpg 84w" sizes="(max-width: 394px) 100vw, 394px" /></a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Stella sharing her bed with her new friends, Chiquita &#038; Butch!!</title>
		<link>https://www.camplittlewiggle.com/stella-sharing-her-bed-with-her-new-friends-chiquita-butch/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Wed, 14 Aug 2013 05:54:14 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=148</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p><img decoding="async" class="alignnone size-full" src="http://www.camplittlewiggle.com/wp-content/uploads/2013/08/20130813-225324.jpg" alt="20130813-225324.jpg" /></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>I LOVE CAAAAMP LITTLE WIGGLE!!</title>
		<link>https://www.camplittlewiggle.com/i-love-caaaamp-little-wiggle-2/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Thu, 25 Jul 2013 07:43:33 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=145</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p><img decoding="async" class="alignnone size-full" src="http://www.camplittlewiggle.com/wp-content/uploads/2013/07/20130725-004317.jpg" alt="20130725-004317.jpg" /></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Another one of our favorite guests: the ADORABLE I.G&#8230;.Django!</title>
		<link>https://www.camplittlewiggle.com/another-one-of-our-favorite-guests-the-adorable-django/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Thu, 25 Jul 2013 07:38:07 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=140</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p><img decoding="async" class="alignnone size-full" src="http://www.camplittlewiggle.com/wp-content/uploads/2013/07/20130725-003736.jpg" alt="20130725-003736.jpg" /></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Liesel, Cricket, Gretel, &#038; Hazel palin&#8217;around :-)</title>
		<link>https://www.camplittlewiggle.com/liesel-cricket-gretel-hazel-palinaround-2/</link>
		
		<dc:creator><![CDATA[Sandra]]></dc:creator>
		<pubDate>Thu, 25 Jul 2013 07:29:45 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://www.camplittlewiggle.com/?p=135</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p><img decoding="async" class="alignnone size-full" src="http://www.camplittlewiggle.com/wp-content/uploads/2013/07/20130725-002937.jpg" alt="20130725-002937.jpg" /></p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
